@font-face {
	font-family: Rubik;
	src: url(https://fonts.gstatic.com/s/rubik/v21/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-WYiFV0Uz.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Rubik;
	src: url(https://fonts.gstatic.com/s/rubik/v21/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFV0Uz.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Rubik;
	src: url(https://fonts.gstatic.com/s/rubik/v21/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFV0Uz.woff) format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Rubik;
	src: url(https://fonts.gstatic.com/s/rubik/v21/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-4I-FV0Uz.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Rubik;
	src: url(https://fonts.gstatic.com/s/rubik/v21/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-ro-FV0Uz.woff) format("woff");
	font-weight: 900;
	font-style: normal;
}
